.home-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-sm-bg.png');
  background-size: cover;
  height: 100vh;
  margin-top: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-top: 50px;
  padding-right: 10px;
  overflow-y: scroll;
}
@media screen and (min-width: 768px) {
  .home-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
    padding-left: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.home-heading {
  color: #fff;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 26px;
  width: 100%;
  max-width: 440px;
}
@media screen and (min-width: 768px) {
  .home-heading {
    font-size: 62px;
    width: 600px;
  }
}
.home-description {
  color: #f8fafc;
  font-family: 'Roboto';
  font-size: 15px;
  width: 100%;
  max-width: 400px;
  padding-bottom: 9px;
}
@media screen and (min-width: 768px) {
  .home-description {
    font-size: 23px;
    width: 600px;
  }
}
.find-jobs-btn {
  color: #fff;
  background-color: #6366f1;
  border: none;
  padding: 8px 16px 8px 16px;
  align-self: flex-start;
  font-size: 16px;
  border-radius: 4px;
  font-family: 'Roboto';
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .find-jobs-btn {
    font-size: 24px;
    border-radius: 8px;
    padding: 12px 24px 12px 24px;
  }
}
