.header-container-md {
  display: none;
}
.header-container-sm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222222;
  padding: 20px 20px 15px 20px;
}
@media screen and (min-width: 768px) {
  .header-container-md {
    background-color: #222222;
    padding: 15px 40px 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .header-container-sm {
    display: none;
  }
}

.logout-container {
  display: flex;
  align-items: center;
  width: 45%;
  justify-content: flex-end;
}

.home-icon {
  color: #fff;
  font-size: 32px;
}
.header-case-icon {
  color: #fff;
  font-size: 23px;
  margin-left: 18px;
}
.logout-icon {
  color: #fff;
  font-size: 30px;
  margin-left: 18px;
}

.logo-header {
  width: 110px;
  height: 38px;
  margin-bottom: 7px;
}
.home-job-container {
  display: flex;
  align-items: center;
}
.home {
  color: #fff;
  font-size: 21px;
  font-family: 'Roboto';
  margin-right: 10px;
}
.job {
  color: #fff;
  font-size: 21px;
  font-family: 'Roboto';
  margin-left: 10px;
}
.logout-btn {
  background-color: #6366f1;
  color: #fff;
  font-size: 15px;
  width: 120px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: 400;
  font-family: 'Roboto';
  border: none;
  border-radius: 6px;
}
.link {
  text-decoration: none;
}
